@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

:root {
  --color-white: #f3f3f3;
  --color-darkblue: #1b1b32;
  --color-darkblue-alpha: rgba(27, 27, 50, 0.8);
  --color-green: #37af65;
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--color-white);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: var(--color-darkblue);
    background-image: linear-gradient(
        115deg,
        rgba(58, 58, 158, 0.8),
        rgba(136, 136, 206, 0.7)
      ),
      url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .container{
      width: 100%;
      max-width: 720px;
      margin: 3.125rem auto 0 auto;
  }
  header{
      margin-top: 40px;
      text-align: center;
  }
  #title{
      font-size: 2em;
      font-weight: 400;
      margin-bottom: 0;
  }
  #description{
      margin-top: 10px;
      font-size: 18px;
      font-style: italic;
  }
  form {
    background: var(--color-darkblue-alpha);
    font-size: 18px;
    border-radius: 10px;
}
.form-group{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.form-control {
    display: block;
    padding: .8rem 0.75rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
label {
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
}
textarea:focus, input:focus, input[type]:focus, select:focus{
    border-color: rgb(24, 6, 166);
    box-shadow: 0 1px 1px rgba(62, 113, 231, 0.075)inset, 0 0 8px rgb(24, 6, 166);
    outline: 0 none;
}

input[type=radio]{
    height: 20px;
    width: 20px;
    margin-right: 10px;
}
input[type=checkbox]{
    height: 20px;
    width: 20px;
    margin-right: 10px;
}
.input-textarea{
    height: 100px;
    padding: 10px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}
#submit{
    height: 50px;
    color: var(--color-white);
    border-radius: 5px;
    font-size: 18px;
    background-color: var(--color-green);
    border: none;
    cursor: pointer;
}
@media (min-width: 480px){
    form {
        padding: 2.5rem;
    }
}
@media (max-width: 480px){
    form {
        margin: 0 auto;
        width: 90%;
        padding: 20px;
    }
}